.fundo {
   display:grid;
   grid-template-columns: auto auto auto;
   justify-content: space-between;
   grid-template-rows: 1fr 1fr 1fr;
}

.circulo-centro{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    grid-area: 2/2/2/3;
}


.circulo-centro-filho{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(192, 46, 46);
    justify-self: center;
    align-self: center;
    grid-area: 2/2;
    
}

.circulo-superior-esquerdo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: black;
    display: flex column;
    align-items: center;
    justify-content: center;

}

.circulo-inferior-esquerdo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: black;
    grid-area: 3/1;
}

.circulo-superio-direito{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: black;
    grid-area: 1/3;
    
}

.circulo-inferior-direito{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: black;
    grid-area: 3/3;
}