.fundo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0FFFF;
    width: 100vw;
    height: 100vh;
}

.circulo-superior-esquerdo {
    background-color:#F08080;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 16px;
}

.circulo-inferior-esquerdo {
    background-color: 	#2E8B57;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.circulo-superio-direito {
    background-color: 	#1E90FF;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 16px;

}

.circulo-inferior-direito {
    background-color:	#6959CD;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.circulo-centro-filho{
    background-color:	#FF6347;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
}


.circulo-centro {
    background-color: 	#C0C0C0;
    display: absolute;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    border-radius: 50%;

}